<h2>Recent Tweets for <%= params[:screen_name] %></h2>

<% @tweets.each do |tweet| %>
  <p>
    <%= tweet.text %>
    <br />
    <%= distance_of_time_in_words_to_now(tweet.created_at) %> ago
    <br />
  </p>
<% end %>
